<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加员工</title>
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="css/index.css">-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/qs.js"></script>
    <!-- 引入自定义样式-->
    <!--<link rel="stylesheet" href="css/staff_list.css">-->
</head>
<body>
<div id="app">
    <!--<div style="border: 1px solid #eee; padding: 10px;">
        <el-page-header @back="goBack" content="添加员工"></el-page-header>
    </div>-->
    <div style="margin: 10px 0;">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
            <div style="clear: both; margin: 10px;">
                <i v-for="msg in err.messages" class="el-icon-error" style="color: #F56C6C; margin-left: 100px; display: block;">{{msg}}</i>
            </div>
            <el-form-item label="设施编号" prop="staffId">
                <el-input placeholder="请输入设施编号" v-model="ruleForm.facilityId">
                </el-input>
            </el-form-item>
            <el-form-item label="设施名称" prop="staffName">
                <el-input placeholder="请输入设施名称" v-model="ruleForm.facilityName">
                </el-input>
            </el-form-item>
            <el-form-item label="设施价格" prop="staffPosition">
                <el-input placeholder="请输入设施价格" v-model="ruleForm.facilityPrice">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="success" icon="el-icon-check" @click="onSubmit('ruleForm')">确认</el-button>
                <!--<el-button type="" icon="el-icon-refresh-left" @click="handleReset">重置</el-button>-->
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<script>
    let Main = {
        data() {
            return {
                ruleForm: { //参数
                    facilityId: '',
                    facilityName: '',
                    facilityPrice: '',
                },
                rules:{
                    facilityId: [{
                        required: true,
                        message: '请输入设施编号',
                        trigger: 'blur'
                        },
                        {
                            pattern: '^[0-9]{2,2}$',
                            message: '设施编号长度应为2位数字',
                            trigger: 'blur'
                        },
                        {

                        },
                    ],
                    facilityName: [{
                        required: true,
                        message: '请输入设施名称',
                        trigger: 'blur'
                    }],
                    facilityPrice: [{
                        required: true,
                        message: '请输入设施价格',
                        trigger: 'blur'
                    }]
                },
                err: {
                    messages: []
                }
            }
        },

        methods: {

            onSubmit(formName) {

                this.$refs[formName].validate((valid) => {
                    if(valid) {
                        this.postData(); //提交数据
                    }
                    return false;
                });
            },

            postData() {
                axios.get('facility?action=create', {params: this.ruleForm})
                    .then(res => {
                        if(res.data.code === 500) {
                            this.err.messages.length = 0; //清空数组
                            for(let i = 0; i < res.data.data.length; i++) {
                                this.err.messages.push(res.data.data[i].defaultMessage);
                            }
                        } else if(res.data.code === 0) {
                            this.$alert('设施添加成功', '提示', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    parent.location.reload();
                                }
                            });
                        } else {
                            location.href = '../error.html';
                        }
                    }).catch(() => {
                    location.href = '../error.html';
                });
                //延时加载
                this.loading();
            },
            ////延时加载
            loading() {
                const loading = this.$loading({
                    lock: true,
                    text: '数据处理中',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                setTimeout(() => {
                    loading.close();
                }, 1000);
            },
        }
    }
    let Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</html>