<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>房间列表</title>
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="css/index.css">-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/qs.js"></script>
</head>
<body>
<div id="app">
    <div style="margin: 10px 0">
        <el-input placeholder="房间号" v-model="search.roomId" style="width: 16%">
        </el-input>
        <el-input placeholder="房间名" v-model="search.roomName" style="width: 16%">
        </el-input>
        <el-input placeholder="房间类型" v-model="search.roomType" style="width: 16%">
        </el-input>
        <el-input placeholder="房间价格" v-model="search.roomPrice" style="width: 16%">
        </el-input>
        <el-select class="" v-model="search.roomState" placeholder="请选择房屋入住状态" style="width: 16%">
            <el-option
                    v-for="item in showRoomState"
                    :key="item.value"
                    :label="item.text"
                    :value="item.value">
            </el-option>
        </el-select>
        <el-button slot="append" icon="el-icon-search" @click="handleQuery">搜索</el-button>
        <el-button slot="append" icon="el-icon-refresh-left" @click="handleReset">重置</el-button>
    </div>
    <template>

        <el-table
                ref="multipleTable"
                :data="tableData"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="handleSelectionChange"

                stripe>
            <el-table-column type="selection" width="55" fixed="left">
            </el-table-column>
            <el-table-column prop="roomId" label="编号" sortable>

            </el-table-column>
            <el-table-column prop="roomName" label="房名">

            </el-table-column>
            <el-table-column prop="roomType" label="类型">

            </el-table-column>
            <el-table-column prop="roomPrice" label="价格">

            </el-table-column>
            <el-table-column prop="occupyDescription" label="状态">

            </el-table-column>
            <el-table-column fixed="right" label="操作" width="220px">
                <template slot-scope="scope">
                    <el-link type="primary" icon="el-icon-warning-outline" @click="handleCheck(scope.row)">查看设备</el-link>
                    <el-link type="primary" icon="el-icon-edit" @click="handleEdit(scope.row)">编辑</el-link>
                    <el-link type="danger" icon="el-icon-delete" @click="handleOccupy(scope.row.roomId)">入住</el-link>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <template>
        <div class="block">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pagination.currentPage" :page-sizes="[3, 5, 10, 15, 20, 100]" :page-size="pagination.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pagination.total" background>
            </el-pagination>
        </div>
    </template>
    <div style="text-align: right; margin-right: 50px">
        <el-button type="primary" icon="el-icon-plus" plain @click="handleCreate">添加房间</el-button>
        <el-button type="danger" icon="el-icon-delete" plain @click="dismissMany">批量入住</el-button>
    </div>

    <template>
        <el-dialog
                title="查看设施"
                :visible.sync="dialogCheckVisible"
                :before-close="handleCloseCheckDialog">
            <span slot="footer" class="dialog-footer">
                <!--<iframe
                        ref="dialogCheckFrame"
                        src="room_facilities.html"
                        frameborder="0"
                        width="100%"
                        height="350px">
                </iframe>-->
                <template>
                    <el-table
                            :data="facilityData"
                            tooltip-effect="dark"
                            style="width: 100%"
                            stripe>

                        <el-table-column prop="facilityId" label="编号">

                        </el-table-column>
                        <el-table-column prop="facilityName" label="名称">

                        </el-table-column>

                        <el-table-column prop="facilityPrice" label="价格">

                        </el-table-column>
                    </el-table>
                    <el-table-column>
                        <el-button type="primary" @click="handleCloseCheckDialog">确定</el-button>
                        <el-button type="info" @click="handleEditRoomFacilities">编辑</el-button>
                    </el-table-column>
                </template>
            </span>
        </el-dialog>
    </template>

    <template>
        <el-dialog
                title="编辑设施"
                :visible.sync="dialogEditFacilityVisible"
                :before-close="handleCloseEditFacilityDialog">
            <span slot="footer" class="dialog-footer">
                <!--<iframe
                        ref="dialogCreateFrame"
                        src="room_regist.html"
                        frameborder="0"
                        width="100%"
                        height="350px">
                </iframe>-->
                <template>
                    <el-table
                            ref="facilityTable"
                            :data="facilityList"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleFacilitySelectChange"
                            stripe>
                        <el-table-column type="selection" width="55" fixed="left">

                        </el-table-column>
                        <el-table-column prop="facilityId" label="编号">

                        </el-table-column>
                        <el-table-column prop="facilityName" label="名称">

                        </el-table-column>

                        <el-table-column prop="facilityPrice" label="价格">

                        </el-table-column>
                    </el-table>
                    <el-table-column>
                        <el-button type="success" @click="handleSaveFacility">保存</el-button>
                        <el-button type="danger" @click="handleCloseEditFacilityDialog">取消</el-button>
                    </el-table-column>
                </template>
            </span>
        </el-dialog>
    </template>


    <template>
        <el-dialog
                title="添加房间"
                :visible.sync="dialogCreateVisible"
                :before-close="handleCloseCreateDialog">
            <span slot="footer" class="dialog-footer">
                <iframe
                        ref="dialogCreateFrame"
                        src="room_regist.html"
                        frameborder="0"
                        width="100%"
                        height="350px">
                </iframe>
            </span>
        </el-dialog>
    </template>

    <template>
        <el-dialog
                title="编辑房间"
                :visible.sync="dialogEditVisible"
                :before-close="handleCloseEditDialog">
            <span slot="footer" class="dialog-footer">
                <iframe
                        ref="dialogEditFrame"
                        src="room_edit.html"
                        frameborder="0"
                        width="100%"
                        height="350px">
                </iframe>
            </span>
        </el-dialog>
    </template>

</div>
</body>
<script>
    let Main = {
        data() {
            return {
                showRoomState: [],  //房屋状态集合
                types: [], //部门性质集合
                dialogVisible: false, //隐藏弹窗
                dialogCreateVisible: false,//隐藏创建弹窗
                dialogEditVisible: false, //隐藏编辑弹窗
                dialogCheckVisible: false, //隐藏查看设施弹窗
                dialogEditFacilityVisible: false, //隐藏编辑设施弹窗
                tableData: [], //列表数据集合
                facilityData: [], //房间设施列表数据集合
                facilityList: [], //全部设施数据集合
                multipleSelection: [], //已选择的行集合
                multipleSelection1: [], //已选择的行集合
                currentRoomId: [], //当前房间号
                array: [], //已选择的id集合
                pagination: { //分页参数
                    currentPage: 1,
                    pageSize: 5,
                    total: 0
                },
                search: { //查询参数
                    roomId: '',
                    roomName: '',
                    roomType: '',
                    roomPrice: '',
                    roomState: null,
                    currentPage: 1,
                    pageSize: 5
                }
            }
        },

        //初始化数据列表，挂载方法，页面加载完成后自动执行该方法
        mounted() {
            this.initShowRoomState(); //初始化showRoomState
            this.getData(); //获取列表数据
            this.getFacilityData(); //获取设施数据
        },

        methods: {

            //初始化showRoomState
            initShowRoomState() {
                this.showRoomState = [
                    {
                        text: '显示全部房屋', value: null
                    },
                    {
                        text: '显示占用房屋', value: 1
                    },
                    {
                        text: '显示空闲房屋', value: 0
                    },
                ]
            },

            //查询
            handleQuery(){
                this.getData();
            },
            //重置按钮
            handleReset(){
                this.search.roomId ='';
                this.search.roomName = '';
                this.search.roomType = '';
                this.search.roomPrice = '';
            },
            //页面大小改变事件
            handleSizeChange(val) {
                this.pagination.pageSize = val;
                this.getData();
            },
            //当页面改变事件
            handleCurrentChange(val) {
                this.pagination.currentPage = val;
                this.getData();
            },

            //多选选项改变事件
            handleSelectionChange(val) {
                this.multipleSelection = [];
                val.forEach((currentVal)=> {
                    let roomId = currentVal.roomId;
                    this.multipleSelection.push(roomId);
                })
            },

            handleFacilitySelectChange(val) {
                this.multipleSelection1 = [];
                val.forEach((currentVal)=> {
                    let facilityId = currentVal.facilityId;
                    this.multipleSelection1.push(facilityId);
                })
            },

            //获取列表参数
            getData() {
                //this.tableData.length = 0; //清空数组（表格数据）
                this.tableData = null;  //清空数组（表格数据）
                //改变search对的当前和页面大小
                this.search.currentPage = this.pagination.currentPage;
                this.search.pageSize = this.pagination.pageSize;
                axios.get("room?action=list", {params: this.search})
                    .then((res)=> {
                        //console.log(res.code + "+" + res.data.data)
                        let result = res.data;//获取控制器回传的数据
                        if(result.code === 0 && result.data != null){
                            //console.log(result)
                            this.tableData = result.data.data;//绑定表格数据
                            this.pagination = result.data;//绑定分页参数
                        }
                    })
            },
            getFacilityData() {
                this.facilityList = null; //清空数组（表格数据）
                //改变search对的当前和页面大小
                //this.search.currentPage = this.pagination.currentPage;
                //this.search.pageSize = this.pagination.pageSize;
                axios.get("facility?action=list", {params: {currentPage: 1, pageSize: 100}})
                    .then((res)=> {
                        let result = res.data;//获取控制器回传的数据
                        if(result.code === 0 && result.data != null){
                            //console.log(result)
                            this.facilityList = result.data.data;//绑定表格数据
                            //this.pagination = result.data;//绑定分页参数
                        }
                    })
            },
            //新建事件
            handleCreate() {
                //打开弹窗
                this.dialogCreateVisible = true;
                //获取iframe对象
                //let iframe = this.$refs.dialogCreateFrame;
            },

            //编辑事件
            handleEdit(row) {
                //打开弹窗
                this.dialogEditVisible = true;
                //获取iframe对象  .contentWindow属性获取对象页面的属性和方法
                let iframe = this.$refs.dialogEditFrame;
                //向窗口传值
                iframe.contentWindow.postMessage(row, '*');

            },

            //查看设施事件
            handleCheck(row) {
               /* //获取iframe对象  .contentWindow属性获取对象页面的属性和方法
                let iframe = this.$refs.dialogCheckFrame;
                //向窗口传值
                iframe.contentWindow.postMessage(row, '*');*/
                this.facilityData = null; //清空数组（表格数据）
                this.currentRoomId = row.roomId;
                axios.get("room?action=getFacilities", {params: {roomId: row.roomId}})
                    .then((res)=> {
                        let result = res.data;//获取控制器回传的数据
                        if(result.code === 0 && result.data != null){
                            //console.log(result)
                            this.facilityData = result.data;//绑定表格数据
                        }
                    })

                //打开弹窗
                this.dialogCheckVisible = true;
            },

            handleEditRoomFacilities() {
                this.dialogEditFacilityVisible = true;
            },

            handleSaveFacility() {
                if(this.multipleSelection1 === null) {
                    //this.$alert('请选择设施');
                    this.$alert('请选择设施', '提示', {
                        confirmButtonText: '确定',
                        callback: action => {
                            parent.location.reload();
                        }
                    });
                }
                else {
                    console.log(this.multipleSelection1)
                    this.$confirm('是否保存?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning',

                    }).then(() => {
                        axios.get("room?action=editFacilities", {
                            params: {roomId: this.currentRoomId, multipleSelection: this.multipleSelection1},
                            paramsSerializer: params=> {
                                return window.Qs.stringify(params, { indices: false });
                            }
                        })
                            .then((res)=> {
                                let result = res.data;
                                if(result.code === 0 && result.data != null) {
                                    this.loading();
                                    //console.log(result);
                                    this.getData();
                                    this.$message({
                                        type: 'success',
                                        message: '编辑成功'
                                    })
                                    this.handleCloseEditFacilityDialog();
                                    this.handleCloseCheckDialog();
                                    //location.reload();
                                }
                            })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '本操作已取消'
                        })
                    })
                }
            },

            //关闭新建弹窗
            handleCloseCreateDialog() {
                this.dialogCreateVisible = false;
                this.getData();
                //location.reload();
            },

            //关闭编辑弹窗
            handleCloseEditDialog() {
                this.dialogEditVisible = false;
                this.getData();
                //location.reload();
            },

            handleCloseCheckDialog() {
                this.dialogCheckVisible = false;
                this.getData();
            },

            handleCloseEditFacilityDialog() {
                this.dialogEditFacilityVisible = false;
                //this.getData();
            },

            //占用房间
            handleOccupy(roomId) {
                this.$confirm('是否入住?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get("room?action=occupyRoom", {params: {roomId: roomId}})
                        .then((res) => {
                            let result = res.data;
                            if (result.code === 0 && result.data != null) {
                                //console.log(result);
                                this.getData();
                                this.$notify({
                                    title: '成功',
                                    message: '入住成功',
                                    type: 'success'
                                });
                            }
                        })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '本操作已取消'
                    })
                })
            },

            //编辑房间内设施
            editRoomFacilities() {

            },

            //批量入住房间
            dismissMany() {
                if(this.multipleSelection === null) {
                    //this.$alert('请选择要入住的房间')
                    this.$alert('请选择要入住的房间', '提示', {
                        confirmButtonText: '确定',
                        callback: action => {
                            parent.location.reload();
                        }
                    });
                }
                else {
                    //console.log(this.multipleSelection)
                    this.$confirm('是否批量操作?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning',

                    }).then(() => {
                        axios.get("room?action=deleteMany", {
                            params: {multipleSelection: this.multipleSelection},
                            paramsSerializer: params=> {
                                return window.Qs.stringify(params, { indices: false });
                            }
                        })
                            .then((res)=> {
                                let result = res.data;
                                if(result.code === 0 && result.data != null) {
                                    //console.log(result);
                                    this.getData();
                                    this.$notify({
                                        title: '成功',
                                        message: '批量入住成功',
                                        type: 'success'
                                    });
                                }
                            })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '本操作已取消'
                        })
                    })
                }
            },
            // goBack() {
            //     window.history.back();
            // },
            ////延时加载
            loading() {
                const loading = this.$loading({
                    lock: true,
                    text: '数据处理中',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                setTimeout(() => {
                    loading.close();
                }, 1000);
            },
        }
    }
    let Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</html>